body {
}

.div1{
    background-color:orange;
    height:200px;
    width:200px;

    position:static;
}

p {
    font-size:20px;
    border:1px solid black;
}

.sabitresimf{
    position:fixed;
    left:100px;
    top:10px;
}

.sabitresimr
{
    position: relative;
    left: 100px;
    top: 10px;
}

.sabitresima
{
    position: absolute;
    left: 100px;
    top: 10px;
}

#kutu{
    padding:10px;
    background-color:aqua;
    border:1px solid gray;
}

#kapat{
    float:left;
}

.grup{
    display : block;
    color:red;
}

.grup1
{
    display: inline;
    color: red;
    border-style : double;
}

.imgcls{
    display:inline;
    height:100px;
}

img{
    display:block;
    height:200px;
}

#_b{
    visibility:hidden;
}

#_d{
    display:none;
}

.secici{
    text-align:center;
    font-size:40px;
    font-family:'Segoe UI';
    color:white;
    display:block;
    margin:40px;
    padding:20px;
    background: #c00;
    background-size:cover;
}

div{
    padding-bottom:10px;
    font-size:x-large;
    text-transform : uppercase;
}

.kirmizi{
    color:red;
}

.yesil{
    color:green;
}

.mavi{
    color:blue;
}

p a{
    background:orange;
    padding-left:15px;
    padding-right:15px;
    border:1px solid green;
}